[Unit]
Description=es-head
After=network.target

[Service]
PIDFile=/var/run/eshead.pid
WorkingDirectory=/opt/bigops/es-head
ExecStart=/usr/local/node/bin/npm run start
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=false

[Install]
WantedBy=multi-user.target
